body{
  margin: 0;
  background-color: #E6CC90;
}

.navbar{
  width: 100%;
  margin: 0;
  position: relative;
}

header{
  background-color: #3C352A;
  width: 100%;
  /*for scrolling view*/
  position: fixed;
  top: 0;
}

header::after{
  content: "";
  display: flex;
  clear: both;
}

#MyName{
  float: left;
  display: inline-block;
  color: #EDDEA4;
  font-size: 28px;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  margin: 8px 0 0 40px;
}

nav{
  float: right;
}

nav ul{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-right: 40px;
    display: flex;
}

nav ul li{
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    color: #EDDEA4;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding: 7px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover:not(.active) {
    color: #FFFBBD;
}

.active{
  color: #FFFFFF;
}

.cvBox{
  margin: 80px auto 20px auto;
  background-color: #3C352A;
  width: 80%;
  padding-top: 40px;
  padding-bottom: 40px;
}

#headings {
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  text-align: center;
  background-color: #EDDEA4;
  color:#3C352A;
  margin: 0 40px 0 40px;
  padding: 5px 20px 5px 20px;
  display: inline;
  border-radius: 10px;
  text-transform: uppercase;
}

#aboutMe{
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  margin: 20px 40px;
  padding-left: 10px;
  text-align: left;
  margin: 20px 40px;
  padding: 5px 10px 5px 10px;
  color: white;
}

.lists{
  list-style-type: none;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lists li{
  text-align: left;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  padding: 2px 10px 2px 10px;
  color: white;
}

.footerBox{
  background-color: #3C352A;
  width: 100%;
  height: 50px;
}

footer{
  clear: both;
}

.footer ul {
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin-right: 40px;
  display: flex;
}

.footerBoxter ul li {
  display: inline-block;
  position: relative;
}

.footer ul li a {
  display: block;
  color: #EDDEA4;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
