*{
  padding: 0;
  margin: 0;
}

html{
  width: 100%;
  display: flex;
}

body{
  background-color:#EDDEA4;
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.navbar{
  width: 100%;
  padding: 0;
}
#navbarNav {
   list-style-type: none;
   overflow: hidden;
   width: 100%;
   background-color: rgb(60,53,42,0.9);
   /*for scrolling view*/
   position: fixed;
   top: 0;
}

.inactive .nav-link {
 color: #FFFBBD;
 text-align: center;
 font-family: 'Quicksand', sans-serif;
 font-size: 19px;
 padding: 20px 15px;
 text-decoration: none;
 text-transform: uppercase;
}

.active .nav-link{
 color: #FFFFFF;
 text-align: center;
 font-family: 'Quicksand', sans-serif;
 font-size: 19px;
 padding: 20px 15px;
 text-decoration: none;
 text-transform: uppercase;
}

.inactive .nav-link::after {
 content: "";
 display: block;
 width: 0;
 height: 2px;
 background: #FFFFFF;
 transition: 0.5s;
}

.inactive .nav-link:hover::after {
   width: 100%;
}

#navbarNav li .nav-link:hover {
   color: #FFFFFF;
   //color: #3C352A;
}

@media screen and (max-width:992px)
{
  .navbar {
   background-color: rgb(60,53,42) !important;
   max-width: 100vw !important;
  }
  .collapse{
    border-top: #FFFFFF solid 1px;
  }

  .inactive .nav-link {
    padding: 10px 0;
    font-size: 17px;
  }

  .active .nav-link{
    padding: 10px 0;
    font-size: 17px;
  }
}

.cvBox{
  margin: 80px auto 20px auto;
  background-color: #3C352A;
  width: 80%;
  padding: 40px 10px 40px 10px;
}

.cvBox::after{
  content: "";
  display: flex;
  clear: both;
}

.cvPage2{
  float: left;
  width: 60%;
}

.cvPhoto{
    float: left;
    display: block;
    margin: 0 10px 10px 30px;
    width: 30%;
    border: #EDDEA4 solid 5px;
    border-radius: 10px;
}

@media only screen and (max-width: 600px)
{
  .cvPage2{
    width: 100%;
    padding-top: 30px;
  }

  .cvPage1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .cvPhoto{
    float: none;
    width: 70%;
    border: #EDDEA4 solid 5px;
    border-radius: 10px;
    margin: 0 auto;
  }
}

#headings {
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  text-align: center;
  background-color: #EDDEA4;
  color:#3C352A;
  margin: 0 20px 0 20px;
  padding: 5px 20px 5px 20px;
  display: inline;
  border-radius: 10px;
  text-transform: uppercase;
}

#aboutMe{
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  margin: 20px 40px;
  padding-left: 10px;
  text-align: left;
  margin: 20px 20px;
  padding: 5px 10px 5px 10px;
  color: white;
}

.lists{
  list-style-type: none;
  display: block;
  padding: 5px 10px 5px 10px;
  margin: 20px 20px;
}

.lists li{
  text-align: left;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  padding: 2px 0 2px 0;
  color: white;
}

.footerBox{
  background-color: #3C352A;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  text-align: center;
  list-style-type: none;
  overflow: hidden;
  margin: auto 0;
}

.footer li {
  display: inline-block;
  position: relative;
}

.footer li a {
  display: block;
  color: #EDDEA4;
  padding-left: 10px;
  padding-right: 10px;
}

.footer li a:hover {
    color: #FFFFFF;
}
