*{
  padding: 0;
  margin: 0;
}

html{
  width: 100%;
  display: flex;
}

body{
  background-color:#EDDEA4;
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* NAVBAR CREATION*/
.navbar{
  width: 100%;
  padding: 0;
}

 #navbarNav {
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  background-color: rgb(60,53,42,0.9);
}

.inactive .nav-link {
  color: #FFFBBD !important;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 19px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.active .nav-link{
  color: #FFFFFF !important;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 19px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.inactive .nav-link:hover::after {
    width: 100%;
}

#navbarNav li .nav-link:hover {
    color: #FFFFFF !important;
}


/*RESPONSIVE DESIGN FOR SMALL SCREENS*/
@media screen and (max-width:992px)
{
  /*NAVBAR*/
  .navbar {
   background-color: rgb(60,53,42) !important;
   max-width: 100vw !important;
   padding: 8px 14px !important;
  }

  .collapse{
    border-top: #FFFFFF solid 1px;
  }

  .inactive .nav-link {
    padding: 10px 0;
    font-size: 17px;
  }

  .active .nav-link{
    padding: 10px 0;
    font-size: 17px;
  }

  /*CV CONTENT*/
  .title{
    //color: #FFFBBD !important;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
  }

  .photo{
    text-align: center !important;
  }

  .cvPhoto{
    width: 40% !important;
    float: none !important;
    border: #EDDEA4 solid 5px;
    border-radius: 10px;
    margin: 30px auto 0px auto !important;
  }

  .text{
    margin: 20px 20px !important;
    display: block !important;
    width: 100% !important;
    float: none !important;
  }

  .horizontalLine{
    width: 90% !important;
  }

  #headings {
    display: inline;
    width: 100%;
   }

  #aboutMe{
    padding: 20px 40px 20px 0  !important;
  }

  .lists{
    padding: 0 40px 0 0 !important;
  }
}

/*RESPONSIVE DESIGN FOR BIG SCREENS*/
@media screen and (min-width:992px)
{
  .inactive .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #FFFFFF;
    transition: 0.5s;
  }
  .title{
    display:none;
  }

  .cvPhoto{
    float: left;
    width: 20%;
    border: #EDDEA4 solid 5px;
    border-radius: 10px;
    margin: 60px 30px 0 50px;
  }

  .text{
    margin: 20px 20px;
    float: left;
    display: block;
    width: 65%;
  }
}

/*CV SECTION*/
.cvBox:after {
  content: "";
  display: flex;
  clear: both;
}

.cvBox{
  margin: 80px auto 10px auto;
  background-color: #3C352A;
  width: 90%;
}

.horizontalLine{
  border-bottom: #EDDEA4 solid 2px;
  width: 100%;
  color:#EDDEA4;
}

#headings {
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  color:#EDDEA4;
  display: inline;
  text-transform: uppercase;
  width: 80%;
  margin: 5px 0;
}

#aboutMe{
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  text-align: left;
  color: white;
  padding: 30px 10px 10px 0px;
}

.lists{
  list-style-type: none;
  display: block;
  margin: 30px 0;
}

.lists li{
  text-align: left;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  color: white;
  padding: 3px 0 3px 0;
}

/*FOOTER*/
.footerBox{
  background-color: #3C352A;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  text-align: center;
  list-style-type: none;
  overflow: hidden;
  margin: auto 0;
}

.footer li {
  display: inline-block;
  position: relative;
}

.footer li a {
  display: block;
  color: #EDDEA4;
  padding-left: 10px;
  padding-right: 10px;
}

.footer li a:hover {
    color: #FFFFFF;
}
