*{
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.navbar{
  width: 100%;
  padding: 0;
}

 #navbarNav {
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  background-color: rgb(60,53,42,0);
}

.inactive .nav-link {
  color: #FFFBBD !important;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 19px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.active .nav-link{
  color: #FFFFFF !important;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 19px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.inactive .nav-link:hover::after {
    width: 100%;
}

#navbarNav li .nav-link:hover {
    color: #FFFFFF !important;
}

@media screen and (max-width:992px)
{
  .navbar {
   background-color: rgb(60,53,42) !important;
   max-width: 100vw !important;
   padding: 8px 14px !important;
  }

  .collapse{
    border-top: #FFFFFF solid 1px;
  }

  .inactive .nav-link {
    padding: 10px 0;
    font-size: 17px;
  }

  .active .nav-link{
    padding: 10px 0;
    font-size: 17px;
  }

  h1 {
     font-size: 45px !important;
     border-bottom: 3px solid #FFFBBD;
     letter-spacing: 0px !important;
  }

  p{
    font-size: 20px !important;
    margin-bottom: 80px !important;
  }
}

@media screen and (min-width:992px)
{
  .inactive .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #FFFFFF;
    transition: 0.5s;
  }
}


/* full screen image*/
header{
  background-image: url("img/2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
}

/*text on a full screen image*/
.content{
  margin: auto auto;
  width: 100%;
}

.text{
  margin-top: 130px;
  margin-bottom: 150px;
}

/*name ant surname*/
 h1{
  text-align: center;
  font-size: 70px;
  font-family: 'Quicksand', sans-serif;
  color: #FFFBBD;
  letter-spacing: 10px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px solid #FFFBBD;
  margin: auto auto;
  width: 75%;
}

/*additional text*/
p{
  text-align: center;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  color: #FFFBBD;
  text-decoration: none;
  text-transform: uppercase;
}

.homePageButton button{
  text-align: center;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  background: none;
  color: #FFFBBD;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  border: #FFFBBD solid 3px;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.homePageButton button:hover {
    background-color: rgb(60,53,42, 0.5); /* Green */
}

.homePageButton a{
  margin: auto auto;
}

.homePageButton {
  display: flex;
}
