*{
  padding: 0;
  margin: 0;
}

html{
  width: 100%;
  display: flex;
}

body{
  background-color:#EDDEA4;
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.navbar{
  width: 100%;
  padding: 0;
}
#navbarNav {
   list-style-type: none;
   overflow: hidden;
   width: 100%;
   background-color: rgb(60,53,42,0.9);
   /*for scrolling view*/
   position: fixed;
   top: 0;
}

.inactive .nav-link {
 color: #FFFBBD;
 text-align: center;
 font-family: 'Quicksand', sans-serif;
 font-size: 19px;
 padding: 20px 15px;
 text-decoration: none;
 text-transform: uppercase;
}

.active .nav-link{
 color: #FFFFFF;
 text-align: center;
 font-family: 'Quicksand', sans-serif;
 font-size: 19px;
 padding: 20px 15px;
 text-decoration: none;
 text-transform: uppercase;
}

.inactive .nav-link::after {
 content: "";
 display: block;
 width: 0;
 height: 2px;
 background: #FFFFFF;
 transition: 0.5s;
}

.inactive .nav-link:hover::after {
   width: 100%;
}

#navbarNav li .nav-link:hover {
   color: #FFFFFF;
   //color: #3C352A;
}
.contactBox{
  margin: 80px auto 20px auto;
  background-color: #3C352A;
  width: 80%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footerBox{
  background-color: #3C352A;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footerBox{
  background-color: #3C352A;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  text-align: center;
  list-style-type: none;
  overflow: hidden;
  margin: auto 0;
}

.footer li {
  display: inline-block;
  position: relative;
}

.footer li a {
  display: block;
  color: #EDDEA4;
  padding-left: 10px;
  padding-right: 10px;
}

.footer li a:hover {
    color: #FFFFFF;
}
