*{
  padding: 0;
  margin: 0;
}

html{
  width: 100%;
  display: flex;
}

body{
  background-color:#EDDEA4;
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.navbar{
  width: 100%;
  padding: 0;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.3);
}

 #navbarNav {
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  background-color: rgb(60,53,42,0.9);
}

.inactive .nav-link {
  color: #FFFBBD !important;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 19px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.active .nav-link{
  color: #FFFFFF !important;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 19px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.inactive .nav-link:hover::after {
    width: 100%;
}

#navbarNav li .nav-link:hover {
    color: #FFFFFF !important;
}

@media screen and (max-width:992px)
{
  .navbar {
   background-color: rgb(60,53,42) !important;
   max-width: 100vw !important;
   padding: 8px 14px !important;
  }

  .title p {
    /color: #FFFBBD !important;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
  }

  .collapse{
    border-top: #FFFFFF solid 1px;
  }

  .inactive .nav-link {
    padding: 10px 0;
    font-size: 17px;
  }

  .active .nav-link{
    padding: 10px 0;
    font-size: 17px;
  }

  .footer li a {
    padding: 0 5px !important;
  }
}

@media screen and (min-width:992px)
{
  .inactive .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #FFFFFF;
    transition: 0.5s;
    }

    .title {
      display:none;
    }
}

/*CONTENT*/
.contentBox{
  margin: 80px auto 20px auto;
  background-color: #3C352A;
  width: 90%;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.projects h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 45px;
  color:#EDDEA4;
  text-transform: uppercase;
  width: 80%;
  margin: 0px auto 30px auto;
  text-align: center;
}

.aboutProjects p{
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  text-align: left;
  color:#EDDEA4;
  margin: 20px 60px;
}

.horizontalLine{
  border-bottom: #EDDEA4 solid 2px;
  width: 90%;
  color:#EDDEA4;
  margin-bottom: 20px;
  margin: auto auto;
}

.card {
  background-color:#EDDEA4 !important;
  min-width: 14rem;
}

.card-deck{
  padding: 30px 60px;
}

.card-title{
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}

.card-text{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

.btn{
  background-color:#3C352A !important;
  border: none;
}

/*FOOTER*/
.footerBox{
  background-color: #3C352A;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footerBox{
  background-color: #3C352A;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  text-align: center;
  list-style-type: none;
  overflow: hidden;
  margin: auto 0;
}

.footer li {
  display: inline-block;
  position: relative;
}

.footer li a {
  display: block;
  color: #EDDEA4;
  padding-left: 10px;
  padding-right: 10px;
}

.footer li a:hover {
    color: #FFFFFF;
}
